Repository tmcclintock/FrisPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort
        require_serial: true
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: flake8
        require_serial: true
        types: [python]
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        language: system
        entry: interrogate
        args: [-vv, --config=pyproject.toml]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        language: system
        entry: pydocstyle
        require_serial: true
        types: [python]
        exclude: ^tests/

feat: cicd
  .github/workflows/ci.yaml
  .github/workflows/cicd.yaml
  .github/workflows/python-app.yml
Due: none

fix: black, version, email
  frispy/__init__.py
  frispy/disc.py
  frispy/equations_of_motion.py
  pyproject.toml
Due: isort, black, flake8, pydocstyle

fix: flake8 fix
  tests/disc_test.py
Due: isort, black, flake8

fix: imports
  tests/disc_test.py
  tests/environment_test.py
  tests/equations_of_motion_test.py
  tests/model_test.py
Due: isort, black, flake8

feat: interrogate fixes. some pds. turning PDS off for now
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  example.py
  frispy/__init__.py
  frispy/disc.py
  frispy/environment.py
  frispy/equations_of_motion.py
  frispy/wind.py
  pyproject.toml
Due: isort, black, flake8, pydocstyle

feat: conftest. findable tests
  tests/conftest.py
  tests/test_disc.py
  tests/test_env.py
  tests/test_eom.py
  tests/test_model.py
Due: isort, black, flake8

fix: way cleaner Disc class
  frispy/disc.py
Due: isort, black, flake8, pydocstyle

test: better tests of Disc
  tests/test_disc.py
Due: isort, black, flake8

fix: no more env class. unit vector is redundant, since the coordinate system can be rotated. args passed through Disc
  frispy/disc.py
  frispy/environment.py
  frispy/equations_of_motion.py
  tests/test_disc.py
  tests/test_env.py
  tests/test_eom.py
Due: isort, black, flake8, pydocstyle

fix: no more kwargs
  frispy/disc.py
Due: isort, black, flake8, pydocstyle

fix: Disc is now a dataclass
  frispy/disc.py
  frispy/environment.py
Due: isort, black, flake8, pydocstyle

fix: model is now PDS compliant
  frispy/model.py
Due: isort, black, flake8, pydocstyle

fix: removing wind for now
  frispy/wind.py
Due: isort, black, flake8, pydocstyle

fix: PDS work for eom
  frispy/equations_of_motion.py
Due: isort, black, flake8, pydocstyle

fix: PDS on eom
  frispy/equations_of_motion.py
Due: isort, black, flake8, pydocstyle

fix: PDS is back
  .pre-commit-config.yaml
Due: none

fix: docs conf file is PDS valid
  docs/source/conf.py
Due: isort, black, flake8, pydocstyle

feat: PDS in CI
  .github/workflows/ci.yaml
Due: none

refactor: EOM is instantiated when the trajectory is computed. no more post_init
  frispy/disc.py
  tests/test_disc.py
Due: isort, black, flake8, pydocstyle

fix: README with poetry and ignore updates
  .gitignore
  README.rst
Due: none

fix: no twine
  poetry.lock
  pyproject.toml
Due: none

feat: cd on releases
  .github/workflows/cd.yaml
  .github/workflows/cicd.yaml
Due: none

fix: dunder version in init and transparent CD action
  .github/workflows/cd.yaml
  frispy/__init__.py
Due: isort, black, flake8, pydocstyle

fix: back to the other CD without bumpversion
  .github/workflows/cd.yaml
  frispy/__init__.py
Due: isort, black, flake8, pydocstyle

fix: just trying with testpypi for now
  .github/workflows/cd.yaml
Due: none

fix: include pypi
  .github/workflows/cd.yaml
Due: none

Fix notebook and set eom for disc
  frispy/disc.py
  notebooks/Visualizing Trajectories.ipynb
Due: isort, black, flake8, pydocstyle

Use default_factory in dataclass
  frispy/disc.py
Due: isort, black, flake8, pydocstyle

Move matplotlib to dev dependencies
  pyproject.toml
Due: none

Assert for float instead of np.float
  tests/test_eom.py
Due: isort, black, flake8

fix: trigger CICD
  README.rst
Due: none

fix: updating the version
  pyproject.toml
Due: none
